# layout images
layouts/

# auth token
config.json

# npm
node_modules/

# unnecessary files
.DS_Store
Thumbs.db
Desktop.ini

# rendered css files
public/css/*.css
public/css/**/*.css

*.map
**/.sass-cache/
