{% extends 'base.html' %}
{% block link %}
	<link rel="stylesheet" href="/css/membership/module.css">
	<link rel="stylesheet" href="/css/membership/theme.css">
{% endblock %}
{% block header}
	{% include 'header_membership.html'}
{% endblock %}
{% block content %}
	<div id="membership-select-wrapper">
		<p id="welcome" class="grey-text">환영합니다! <span class="teal-text text-accent-4">사용자</span>는 지금?</p>
		<div class="membership-card-wrapper">
			<div class="membership-card">
				<img class="membership-card__select" src="/img/membership/membership_select.svg">
				<div class="membership-card__character">
					<img src="/img/membership/membership_student.svg">
				</div>
				<p class="membership-card__type">재학생</p>
				<p class="membership-card__description">현재 선린인터넷고등학교에<br>재학중이신 분!</p>
				<button class="membership-card__button waves-effect waves-light btn teal accent-4 white-text" type="button">Go</button>
			</div>
			<div class="membership-card">
				<img class="membership-card__select" src="/img/membership/membership_select.svg">
				<div class="membership-card__character">
					<img src="/img/membership/membership_graduate.svg">
				</div>
				<p class="membership-card__type">졸업생</p>
				<p class="membership-card__description">선린인터넷고등학교를<br>졸업하신 분!</p>
				<button class="membership-card__button waves-effect waves-light btn teal accent-4 white-text" type="button">Go</button>
			</div>
		</div>
	</div>
	<!-- <div id="membership-form-wrapper">
		<div class="membership-form">
			<div class="membership-form__header teal accent-4">

			</div>
			<form class="membership-form__form" method="POST" action="">

				<button class="waves-effect waves-light btn yellow darken-1" type="submit">Send</button>
			</form>
		</div>
	</div> -->
{% endblock %}