<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
		<link rel="stylesheet" href="../../assets/css/materialize.css">
		<link rel="stylesheet" href="../../assets/css/base.css">
		<link rel="stylesheet" href="../../assets/css/layout.css">
		<link rel="stylesheet" href="../../assets/css/main/module.css">
		<link rel="stylesheet" href="../../assets/css/main/theme.css">
		<title>Sunr.in</title>
	</head>
	<body>
		<div id="wrapper">
			<header>
				<nav>
					<div class="nav-wrapper">
						<a href="#" class="brand-logo center">
							<img src="../../assetsmain//img/logo.png">
						</a>
					</div>
				</nav>
			</header>
			<section id="content">
				<div id="slider-wrapper" class="row">
					<div id="main__slider" class="col s12 m12 l12">

					</div>
				</div>
				<div id="card-wrapper" class="row">
					<div class="col s12 m6 l4">
						<div id="main__magazine" class="main-card">
							<div class="main-card__top valign-wrapper">
								<div class="valign center-align">
									<img src="../../assets/img/main/contents1.png">
									<h5>매거진</h5>
									<p>선린인들의 소식을 한 눈에 볼 수 있습니다!</p>
								</div>
							</div>
							<div class="main-card__bottom">
								<p class="center-align">More</p>
							</div>
						</div>
					</div>
					<div class="col s12 m6 l4">
						<div id="main__conference" class="main-card">
							<div class="main-card__top valign-wrapper">
								<div class="valign center-align">
									<img src="../../assets/img/main/contents2.png">
									<h5>컨퍼런스</h5>
									<p>선린인과 컨퍼런스 정보 공유를 해보세요!</p>
								</div>
							</div>
							<div class="main-card__bottom">
								<p class="center-align">More</p>
							</div>
						</div>
					</div>
					<div class="col s12 m6 l4">
						<div id="main__connect" class="main-card">
							<div class="main-card__top valign-wrapper">
								<div class="valign center-align">
									<img src="../../assets/img/main/contents3.png">
									<h5>연결고리</h5>
									<p>선배들과의 고속도로 친분을 쌓고 싶다면?</p>
								</div>
							</div>
							<div class="main-card__bottom">
								<p class="center-align">More</p>
							</div>
						</div>
					</div>
					<div class="col s12 m6 l4">
						<div id="main__portfolio" class="main-card">
							<div class="main-card__top valign-wrapper">
								<div class="valign center-align">
									<img src="../../assets/img/main/contents4.png">
									<h5>포트폴리오</h5>
									<p>작품을 올려, 실력도 뽐내고 컨펌도 받아보세요!</p>
								</div>
							</div>
							<div class="main-card__bottom">
								<p class="center-align">More</p>
							</div>
						</div>
					</div>
					<div class="col s12 m6 l4">
						<div id="main__files" class="main-card">
							<div class="main-card__top valign-wrapper">
								<div class="valign center-align">
									<img src="../../assets/img/main/contents5.png">
									<h5>자료실</h5>
									<p>좋은 자료, 소스는 이곳에 올리고 다운받으세요!</p>
								</div>
							</div>
							<div class="main-card__bottom">
								<p class="center-align">More</p>
							</div>
						</div>
					</div>
					<div class="col s12 m6 l4">
						<div id="main__facebook" class="main-card">
							<div class="main-card__top grey-text valign-wrapper">
								<div class="valign center-align">
									<img src="../../assets/img/main/contents6.png">
									<h5>페이스북 페이지</h5>
									<p>페이스북으로도 소식을 받아보세요!</p>
								</div>
							</div>
							<div class="main-card__bottom">
								<p class="center-align">More</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="footer-push"></div>
		</div>
		<footer>

		</footer>
		<script src="../../assets/js/jquery-1.10.2.min.js"></script>
		<script src="../../assets/js/materialize.min.js"></script>
	</body>
</html>