<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
		<link rel="stylesheet" href="../../assets/css/materialize.css">
		<link rel="stylesheet" href="../../assets/css/base.css">
		<link rel="stylesheet" href="../../assets/css/layout.css">
		<link rel="stylesheet" href="../../assets/css/main/module.css">
		<link rel="stylesheet" href="../../assets/css/main/theme.css">
		<title>회원가입 - Sunr.in</title>
	</head>
	<body>
		<div id="wrapper">
			<header>
				<nav>
					<div class="nav-wrapper">
						<a href="#" class="brand-logo center">
							<img src="../../assets/img/logo.png">
						</a>
					</div>
				</nav>
			</header>
			<section id="content">
				<p id="welcome" class="grey-text">환영합니다! <span class="teal-text text-accent-4">사용자</span>는 지금?</p>
				<div class="register-card-wrapper">
					<div class="register-card">
						<img class="register-card__select" src="../../assets/img/main/register_select.svg">
						<div class="register-card__character">

						</div>
						<p class="register-card__type">재학생</p>
						<p class="register-card__description">현재 선린인터넷고등학교에<br>재학중이신 분!</p>
						<button class="register-card__button teal accent-4 white-text" type="button">Go</button>
					</div>
					<div class="register-card">
						<img class="register-card__select" src="../../assets/img/main/register_select.svg">
						<div class="register-card__character">

						</div>
						<p class="register-card__type">졸업생</p>
						<p class="register-card__description">선린인터넷고등학교를<br>졸업하신 분!</p>
						<button class="register-card__button teal accent-4 white-text" type="button">Go</button>
					</div>
				</div>
			</section>
			<div class="footer-push"></div>
		</div>
		<footer>

		</footer>
		<script src="../../assets/js/jquery-1.10.2.min.js"></script>
		<script src="../../assets/js/materialize.min.js"></script>
	</body>
</html>