/****** membership module ******/

@import "materialize";

#welcome {
	text-align: center;
	padding: 10% 0 30px;
	font-size: 20px;
}

/****** membership select ******/
#membership-select {
	max-width: 500px;
	margin: 0 auto;
	color: #666565;
}

#membership-select > li {
	margin: 15px 0;
	border-radius: 2px;
}

// membership select header
.membership-select__header {
	@extend .z-depth-1;
	padding: 16px;
	height: 60px;
	background-color: #ecf0f1;
	box-sizing: content-box;
	cursor: pointer;
}

.membership-select__header__character {
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
}

.membership-select__header__description {
	padding-top: 6px;
	padding-left: 15px;
}

.membership-select__header__description h5 {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	color: #3b3a3a;
}

.membership-select__header__select {
	line-height: 60px;
}

// memberhship select body 
.membership-select__body {
	@extend .z-depth-1;
	display: none;
	position: relative;
	margin: 30px 0;
	border-top: 30px solid color("teal", "accent-4");
	background-color: #ecf0f1;
	padding: 20px;
}


.membership-select__body__arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid color("teal", "accent-4");
	top: -45px;
	left: 30px;
}
